<nav class="navbar">
  <img src="/img/favicon.png" height="50px" width="50px">
  <h1> My Review</h1>
    <div class="links">
      <a href="/user/login"> <img src="/img/login.png" height="15px" width="15px">  Login</a>
      <a href="/user/signup"> <img src="/img/online-registration.png" height="15px" width="15px"> Register</a>
    </div>
  </nav>
  
  
